.container{
    padding: auto;
    width: 550px;
    height: 300px;
    border-radius: 15px ;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;}

    .block_result{
        display: flex;
        flex-wrap:wrap;
        align-items: center;
        width: 230px;
        height: 260px;
        border-radius: 10px;
        background-color: hsl(183, 100%, 15%);
        padding-left: 20px;
    }
    .result_reset{
        width: 210px;
        height: 35px;
        background-color: hsl(172, 67%, 45%);
        border-radius: 8px;
        border-color:  hsl(183, 100%, 15%);
    }

    .block_button{
        color: hsl(0, 0%, 100%);
        background-color: hsl(183, 100%, 15%) ;
        border-radius: 5px;
        width: 70px;
        height: 30px;
    }
    
    .container_button{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 8px;
    }